.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  height: 360px;
  width: 360px;
  text-align: center;
  background: #FFFFFF;
  padding: 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08), 0 2px 2px 0px rgba(0, 0, 0, 0.12);
}

h1 {
  font-size: 18px;
  color: #34495e;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  position: absolute;
  text-align: center;
  top: 40px;
  width: 100%;
  color: #34495e;
}

#logo {
  margin-bottom: 20px;
}
